# Load and inspect data. Loading raw supplements sales dataset, initial inspection to understand its structure, data types and potential issues

# Reading the file, checking the table structure

In [14]:
import pandas as pd

df = pd.read_csv("../data/raw/Supplement_Sales_Weekly_Expanded.csv")
df.head()

,Date,Product Name,Category,Units Sold,Price,Revenue,Discount,Units Returned,Location,Platform
0,2020-01-06,Whey Protein,Protein,143,31.98,4573.14,0.03,2,Canada,Walmart
1,2020-01-06,Vitamin C,Vitamin,139,42.51,5908.89,0.04,0,UK,Amazon
2,2020-01-06,Fish Oil,Omega,161,12.91,2078.51,0.25,0,Canada,Amazon
3,2020-01-06,Multivitamin,Vitamin,140,16.07,2249.80,0.08,0,Canada,Walmart
4,2020-01-06,Pre-Workout,Performance,157,35.47,5568.79,0.25,3,Canada,iHerb

# Checking data types per coulmn

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4384 entries, 0 to 4383
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            4384 non-null   object
 1   Product Name    4384 non-null   object
 2   Category        4384 non-null   object
 3   Units Sold      4384 non-null   int64
 4   Price           4384 non-null   float64
 5   Revenue         4384 non-null   float64
 6   Discount        4384 non-null   float64
 7   Units Returned  4384 non-null   int64
 8   Location        4384 non-null   object
 9   Platform        4384 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 342.6+ KB

# Changing data type object to datetime in Date column

In [15]:
df['Date'] = pd.to_datetime(df['Date'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4384 entries, 0 to 4383
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            4384 non-null   datetime64[ns]
 1   Product Name    4384 non-null   object
 2   Category        4384 non-null   object
 3   Units Sold      4384 non-null   int64
 4   Price           4384 non-null   float64
 5   Revenue         4384 non-null   float64
 6   Discount        4384 non-null   float64
 7   Units Returned  4384 non-null   int64
 8   Location        4384 non-null   object
 9   Platform        4384 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 342.6+ KB

# Validating the date range

In [17]:
start_date_string = '2020-01-01'
end_date_string = '2025-12-31'

start_date = pd.to_datetime(start_date_string)
end_date = pd.to_datetime(end_date_string)

mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)

df_in_range = df.loc[mask]

print(df_in_range)

           Date        Product Name     Category  Units Sold  Price  Revenue  \
0    2020-01-06        Whey Protein      Protein         143  31.98  4573.14
1    2020-01-06           Vitamin C      Vitamin         139  42.51  5908.89
2    2020-01-06            Fish Oil        Omega         161  12.91  2078.51
3    2020-01-06        Multivitamin      Vitamin         140  16.07  2249.80
4    2020-01-06         Pre-Workout  Performance         157  35.47  5568.79
...         ...                 ...          ...         ...    ...      ...
4379 2025-03-31           Melatonin    Sleep Aid         160  47.79  7646.40
4380 2025-03-31              Biotin      Vitamin         154  38.12  5870.48
4381 2025-03-31   Green Tea Extract   Fat Burner         139  20.40  2835.60
4382 2025-03-31     Iron Supplement      Mineral         154  18.31  2819.74
4383 2025-03-31  Electrolyte Powder    Hydration         178  39.12  6963.36

      Discount  Units Returned Location Platform
0         0.03               2   Canada  Walmart
1         0.04               0       UK   Amazon
2         0.25               0   Canada   Amazon
3         0.08               0   Canada  Walmart
4         0.25               3   Canada    iHerb
...        ...             ...      ...      ...
4379      0.21               1      USA    iHerb
4380      0.22               1       UK  Walmart
4381      0.12               3      USA    iHerb
4382      0.23               2   Canada   Amazon
4383      0.23               0       UK    iHerb

[4384 rows x 10 columns]

# String / object columns validation

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4384 entries, 0 to 4383
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            4384 non-null   datetime64[ns]
 1   Product Name    4384 non-null   object
 2   Category        4384 non-null   object
 3   Units Sold      4384 non-null   int64
 4   Price           4384 non-null   float64
 5   Revenue         4384 non-null   float64
 6   Discount        4384 non-null   float64
 7   Units Returned  4384 non-null   int64
 8   Location        4384 non-null   object
 9   Platform        4384 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 342.6+ KB

# Column Product Name inspection - checking for the count of unique values

In [24]:
value_counts = df['Product Name'].value_counts()

print(f"Value counts: \n{value_counts}")

count = len(value_counts)
print(f"Number of unique names: {count}")

Value counts:
Product Name
Whey Protein          274
Vitamin C             274
Fish Oil              274
Multivitamin          274
Pre-Workout           274
BCAA                  274
Creatine              274
Zinc                  274
Collagen Peptides     274
Magnesium             274
Ashwagandha           274
Melatonin             274
Biotin                274
Green Tea Extract     274
Iron Supplement       274
Electrolyte Powder    274
Name: count, dtype: int64
Number of unique names: 16

# Column Category inspection

In [25]:
category_counts = df['Category'].value_counts()

print(f"Category counts: \n{category_counts}")

count = len(category_counts)
print(f"Number of unique names: {count}")

Category counts:
Category
Vitamin        822
Mineral        822
Protein        548
Performance    548
Omega          274
Amino Acid     274
Herbal         274
Sleep Aid      274
Fat Burner     274
Hydration      274
Name: count, dtype: int64
Number of unique names: 10

# Sold Unites column inspection

In [31]:
sold_max_value = df['Units Sold'].max()
sold_min_value = df['Units Sold'].min()

sold_negative_count = (df['Units Sold'] < 0).sum()
sold_zero_count = (df['Units Sold'] == 0).sum()

print(f"Sold max value: {sold_max_value}")
print(f"Sold min value: {sold_min_value}")

print(f"Sold negative values count: {sold_negative_count}")
print(f"Sold zero values count: {sold_zero_count}")

Sold max value: 194
Sold min value: 103
Sold negative values count: 0
Sold zero values count: 0

# Units Returned column inspection

In [35]:
returned_max_value = df['Units Returned'].max()
returned_min_value = df['Units Returned'].min()

returned_negative_count = (df['Units Returned'] < 0).sum()
returned_zero_count = (df['Units Returned'] == 0).sum()

total_returned = df['Units Returned'].sum()
total_sold = df['Units Sold'].sum()

print(f"Max value: {returned_max_value}")
print(f"Min value: {returned_min_value}")

print(f"Negative values count: {returned_negative_count}")
print(f"Zero values count: {returned_zero_count}")

print(f"Total units sold: {total_sold}")
print(f"Total units returned: {total_returned}")

Max value: 8
Min value: 0
Negative values count: 0
Zero values count: 986
Total units sold: 658478
Total units returned: 6714

# Price column inspection

In [36]:
price_max = df['Price'].max()
price_min = df['Price'].min()

price_negative = (df['Price'] < 0).sum()
price_zero = (df['Price'] == 0).sum()

print(f"Min price: {price_min}")
print(f"Max price: {price_max}")

print(f"Price negative count: {price_negative}")
print(f"Price zero count: {price_zero}")

Min price: 10.0
Max price: 59.97
Price negative count: 0
Price zero count: 0

# Discount column inspection

In [37]:
discount_max = df['Discount'].max()
discount_min = df['Discount'].min()

discount_negative = (df['Discount'] < 0).sum()
discount_zero = (df['Discount'] == 0).sum()

print(f"Min discount: {discount_min}")
print(f"Max discount: {discount_max}")

print(f"Discount negative count: {discount_negative}")
print(f"Discount zero count: {discount_zero}")

Min discount: 0.0
Max discount: 0.25
Discount negative count: 0
Discount zero count: 89